<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top margin-bottom">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 text-center margin-bottom">
			<div class="form-group">
				<label for="burger_name"><h2>Eat Da Burger</h2></label>
				<input type="text" class="form-control" id="burger_name" placeholder="Burger Name">
			</div>
			<button type="submit" class="btn btn-primary" id="btnSubmit">Add Burger</button>
			<img href= "https://i.postimg.cc/yNGtGYm3/catburger.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom">
			<div class="container">
				<div class="row pos-rel">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-v-padding"><img src="/assets/img/menu-top.png" class="img img-responsive" alt="" /></div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-v-padding menu-padding all-mid" id="menu-mid">
						<ul>
							{{#each burgers}}
								{{#unless devoured}}
									<p class="menu-items">{{burger_name}}</p>
									<button class="btn btn-warning devour" data-id="{{id}}">Devour!</button>
								{{/unless}}
							{{/each}}
						</ul>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-v-padding"><img src="/assets/img/menu-bottom.png" class="img img-responsive" alt="" /></div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom">
			<div class="container">
				<div class="row pos-rel">
						<ul>
							<p class="title">Devoured!</p>
							{{#each burgers}}
								{{#if devoured}}
									<p class="served-items">{{burger_name}}</p>
								{{/if}}
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function() {
		$("#btnSubmit").on("click", function(e) {
			e.preventDefault();
			$.ajax("/api/burgers", {
				type: "POST",
				data: { burger_name: $("#burger_name").val().trim() }
			}).then(
				function() {
					location.reload();
				}
			);
		});
		$(".devour").on("click", function(e) {
			e.preventDefault();
			let thisID = $(this).attr("data-id");
			$.ajax("/api/burgers/" + thisID, {
				type: "PUT",
				data: { id: thisID }
			}).then(
				function() {
					location.reload();
				}
			);
		})
	});
</script>